# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtualenv
backend/venv/
.env
*.env

# DBs / artefatos locais
backend/dev.db
*.sqlite
*.sqlite3

# Editor/OS
.vscode/
.idea/
.DS_Store

# Front/output
frontend/*.csv
*.log

# Docker
*.pid
# venv
.venv/
venv/

# arquivos locais/temporários
.env
backend/dev.db
frontend/*.csv
backend/app/api/v1/routes/*.bak_*
